USE [1]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 31.10.2023 3:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[1] [nchar](10) NULL
) ON [PRIMARY]
GO
